body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #BEADFA;
    color: #fff;
}

.container {
    background-color: #D0BFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 60%;
    height: 40%;
}

.form-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

button {
    background-color: #F2BED1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

button:hover {
    background-color: #FDCEDF;
}

.resultado {
    margin-top: 20px;
    padding:10px 22px;
    background-color: #F7C8E0;
    border-radius: 5px;
    text-align: left;
    position: absolute;
    top: 60vh;
    width: auto;
}
